@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Charter-regular";
    src: url(./fonts/Charter\ Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --fundo-site: #EAEAEA;
    --cafe: #5C2702;
    --caramelo: #9D5623;
    --bege: #C89C7C;
    --azul: #7BADBB;
}

body{
    background-color: var(--fundo-site);
}

.espaco_lateral{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


/* -------- Menu ------- */
header{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 110px;
}

.menu{
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-size: 25px;
    color: var(--bege);
    text-decoration: none;
    text-transform: uppercase;
    /* text-transform: uppercase; */
    font-family: "Charter-regular";
}

.menu a:hover{
    color: var(--azul);
}

/* -------- Menu Hamburguer ------- */
 #icone-barras,
 #icone-x,
 #menu_botao {
    display: none;
 }

 /* ----------- RESPONSIVIDADE ------------ */
@media screen and (max-width:768px){
    #sombra{
        background-color: var(--caramelo);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }


    #menu_botao{
        display: block;
        z-index: 1;
    }


    header{
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg{
        fill: var(--azul);
    }

    #icone-barras{
        display: block;
    }

    nav.menu{
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }

    .menu a{
        color: var(--branco);
    }

}